@model List<rehbersorgulama.Models.vw_rehber_sehir_getir>

@{
    ViewBag.Title = "rehberlerimiz";
    Layout = "~/Views/Shared/default_layout.cshtml";
}
<style>
    #common_banner {
        background-image: url('/Content/img/banner/banner5.png');
        padding: 200px 0 130px 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<!-- Common Banner Area -->
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>@ViewBag.ilceadgetir Rehberleri</h2>
                    <ul>
                        <li><a href="index.html">Anasayfa</a></li>
                        <li><span><i class="fas fa-circle"></i></span>Rehberlerimiz</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tour Guides Area -->
<section id="tour_guides_area" class="section_padding">
    <div class="container">
        @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section_heading_center">
                    <h2> @ViewBag.ilceadgetir Rehberlerimiz</h2>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-12">
                <div class="guide_heading_area">
                    <h3> @ViewBag.ilceadgetir Rehberleri</h3>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="tour_guides_boxed">
                        <a href="~/Home/rehber_detay/@item.rehber_id"><img src="@item.fotograf" alt="img" style="width:350px; height:300px;"></a>
                        <div class="tour_guide_content">

                            <h3>@item.adsoyad</h3>
                            <p><a href="~/Home/rehber_detay/@item.rehber_id" style="font-size:20px;">Detay</a></p>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section>



